.BookBag {
	h5 {
		color: var(--steel-blue);
		border-bottom: 3px solid var(--gold);
		padding-bottom: 0.25rem;
		margin: 0.5rem 0;
	}
	ul {
		padding: 0;
		margin: 0.25rem 0;
		list-style-type: none;
	}
	li {
		font-size: 0.75rem;
		margin-bottom: 0.25rem;
		line-height: 1rem;
	}
}

