.Carousel {
	h2 {
		margin: 0.5rem 1rem;
		color: var(--steel-blue);
	}
}

.carousel-container {
	width: calc(100% - 2rem);
	margin: 0.5rem 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}