.Catalog {
	display: flex;
	justify-content: center;
	background-color: #dee8ed;
	flex-grow: 1;
}

.catalog-container {
	width: 960px;
	background-color: white;
	margin: 1rem 0;
	border-radius: 0.5rem;
	overflow: hidden;
}