:root {
  --steel-blue: #1f7099;
  --dark-steel: #0f384c;
  --gold: gold;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: var(--dark-steel);
}
