.Resources {
	h2 {
		margin: 1rem;
		padding-bottom: 0.125rem;
		color: var(--steel-blue);
		border-bottom: 3px solid var(--gold);
	}
	margin-bottom: 1rem;
}

.resources-container {
	width: calc(100% - 2rem);
	margin: 0.5rem 1rem;
	display: flex;
	justify-content: space-between;
}